@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: rgb(64 64 64);
  --color-background: rgb(245 245 245);

  --header-height: 58px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Customize these variable */
  }
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border m-0 p-0;
  }

  body {
    @apply leading-relaxed font-normal text-base flex flex-col;
    padding-top: var(--header-height);
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: 'Heebo', Inter, -apple-system, Roboto, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #app {
    @apply flex flex-col;
    min-height: calc(100vh - var(--header-height));
  }

  main {
    @apply container mx-auto max-w-7xl px-2 sm:px-4 py-4 sm:py-8 flex-1;
  }
}
